body {
    margin: 0;
}

p {
    text-align: center;
    padding: 5px 50px;
    color: silver;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #000000;
    border: black solid 1px;
    display: block;
    padding: 20px 30px;
    text-align: center;
    width: 200px;
    box-sizing: border-box;
    font-size: 18px;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.container {
    margin-top: 30px;
    min-height: 300px;
    width: 300px;
    border: #000000 solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

