body{
    margin: 0;

}

.first_container{
    width: 100%;
    height: 300px;
    background-color: #5151f5;
    margin-bottom: 20px;
}
.text{
    margin: 0;
    color: silver;
    font-size: 40px;
}

.text_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box{
    height: 300px;
    width: 30%;
    background-color: #18185e;
}

.third_container{
    height: 450px;
    width: 100%;
    background-color: #5151f5;
}
